* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */

header .header-title {
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    padding: 216px 230px 0px 545px;
}

header .header-description {
    color: #444343;
    text-align: right;
    padding: 0 230px 0px 700px;
}

.header-btn {
    height: 64px;
    width: 160px;
    margin-left: 944px;
    margin-top: 24px;
    top: 578px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    color: #ffffff;
    border: none;
    margin-bottom: 140px;
}
header{
    background-image: url(/images/banner/banner1.png);
}

/* Failures Section Styles */
.my-failures{
    display: flex;
    margin-top: 131px;
    margin-left: 130px;
}
.my-failures .title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: left;
    padding: 370px 230px 0 87px;

}
.my-failures .description{
    text-align: left;
    padding: 0 230px 0 87px;


}

.my-failures .failures-list{
    list-style: none;
    text-align: left;
    padding: 0 230px 0 87px;
}
.my-failures .checkmark{
    color: #16D887;
}

/* My Plan styles */
.my-plan{
    font-weight: 700;
    font-size: 30px;
    margin-top: 130px;
    padding: spacebeteen;
}
.items{
    display: flex;
}
.my-plan-title{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
}
.plan-item-description{
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    font-size: 25px;
}
.plan-item{
    padding-left: 80px;
    text-align: center;
}

